/* General styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Headers */
header {
  background-color: #955b15;
  color: white;
  padding: 60px 0;
  text-align: center;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 5px;
  color: #11034b;
  font-family: "Candal", serif;
}

header ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0;
  width: 180px;
  display: none;
  z-index: 88888;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #45a049;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a:hover {
  background: #375251;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background-color: #375251;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(240, 217, 5, 0.404);
}

section#features {
  background: #e5e2de;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2em auto;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.left-button { 
  margin-left: 0;
 } 
 .right-button {
  margin-right: 0;
 }

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #5f695f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.container{
  display: flex; justify-content: space-between; padding: 20px;
}
button:hover {
  background-color: #b77626;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn {
  padding: 0.5rem 1rem;
  background: #955b15;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.btn:hover {
  color: white !important;
  background: #b66e17;
}

.text-input {
  padding: 0.7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;
  font-family: 'Lora', serif;
}

/* Post Slider */
.post-wrapper a:hover {
  color: #e08311;
}

.post-slider {
  position: relative;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .next,
.post-slider .prev {
  position: absolute;
  top: 50%;
  font-size: 3em;
  color: #e53935;
  cursor: pointer;
}

.post-slider .next {
  right: 30px;
}

.post-slider .prev {
  left: 30px;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 0;
}

.post-slider .post {
  height: 350px;
  width: 300px;
  display: inline-block;
  background-color: #e5e2de;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1 1rem -1rem #dc1b1b33;
}

.post-slider .image-slider {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-slider .post-info {
  height: 130px;
  padding: 0 5px;
}

/* Content */
.content {
  width: 90%;
  margin: 30px auto;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .post {
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
  position: relative;
}

.content .read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #955b15;
  background: transparent;
  border-radius: 0;
  color: #955b15 !important;
}

.content .read-more:hover {
  background: #955b15;
  color: white !important;
  transition: 0.25s;
}

.content .recent-post-title {
  margin: 20px;
}

.content .post-image {
  width: 40%;
  height: 100%;
  float: left;
}

.content .post-preview {
  width: 60%;
  padding: 10px;
  float: right;
}

.content .sidebar {
  width: 30%;
  float: left;
  height: 300px;
}

.content .section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content .section-title {
  margin: 10px 0;
}

.content .search {
  margin-top: 80px;
}

.content .topics ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e0e0e0;
}

.content .topics ul li a {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  transition: all 0.3s;
}

.content .topics ul li a:hover {
  padding-left: 10px;
  transition: all 0.3s;
}

/* Footer */
footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: white;
  height: 200px;
}


footer .social-media a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

footer .social-media a:hover {
  text-decoration: underline;

}

/* Media Queries */
@media only screen and (max-width: 750px) {
  header {
    position: relative;
  }
  header ul {
    width: 100%;
    background: rgb(71, 67, 77);
    max-height: 0;
    overflow: hidden;
  }
  .showing {
    max-height: 100em;
  }
  header ul li {
    width: 100%;
  }
  header ul li ul {
    position: static;
    display: block;
    width: 100%;
  }
  header ul li ul li a {
    padding: 10px;
    background: rgb(143, 55, 55);
    color: #e8eee8;
    padding-left: 50px;
  }
  header ul li ul li a.logout {
    color: red;
  }
  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }
  header .logo {
    margin-left: 0.8em;
  }
  header .logo-text {
    font-size: 0.9em;
  }
  header ul li ul li a:hover {
    background-color: #e53935;
  }
}
